.top_bar {
  display: flex;
  align-items: center;
  gap: 25px;
}

.top_bar h3 {
  font-size: 30px;
  color: white;
  cursor: default;
  margin: 20;
}

#top_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

#top_bar i {
  color: var(--opaguewhite);
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  transform: scale(1);
}

#top_bar a {
  text-decoration: none;
}

#top_bar i:hover {
  background-color: var(--background);
  transition: ease-in-out 0.2s;
  transform: scale(1.05);
  color: white;
}

#account {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: var(--opaguewhite);
  cursor: default;
}

#level {
  background-color: var(--opaguewhite);
  height: 20px;
  width: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--lightbackground);
  font-weight: bolder;
}
